
  /*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
  html {
    font-family: "jaf-facitweb", "Helvetica Neue", Arial, sans-serif;
    color: #4d4d4d;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.44em
  }
 
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid hsl(0, 0%, 80%);
    margin: 1em 0;
    padding: 0
  }

  textarea {
    resize: vertical
  }

  h1 {
    font-size: 1.777em;
    line-height: 1.2em;
    margin-top: 1.6em
  }

 
  a.quiet,
  .quiet a {
    color: hsl(0, 0%, 60%)
  }

  a.quiet:hover,
  .quiet a:hover {
    color: hsl(0, 0%, 20%)
  } 

  label {
    display: block;
    margin: 0 0 .4em
  }

  textarea,
  input {
    display: block;
    margin: 0 0 1.2em
  }

  
  .button {
    background: #CDD2D4;
    background: -webkit-gradient(linear, left top, left bottom, from(#CDD2D4), to(#C4C9CC));
    background: linear-gradient(to bottom, #CDD2D4 0%, #C4C9CC 100%);
    border-radius: .3em;
    box-shadow: 0 2px 0 hsl(0, 0%, 30%);
    color: hsl(0, 0%, 30%);
    display: inline-block;
    font-weight: bold;
    margin-bottom: .8em;
    padding: .6em 1.3em;
    position: relative;
    text-decoration: none;
    border: 0px
  }

 
  .button-green {
    background: #61BD4F;
    background: -webkit-gradient(linear, left top, left bottom, from(#61BD4F), to(#5AAC44));
    background: linear-gradient(to bottom, #61BD4F 0%, #5AAC44 100%);
    box-shadow: 0 2px 0 #3F6F21;
    color: #fff
  }

  .button-green:not([disabled]):focus,
  .button-green:not([disabled]):hover {
    background: #5AAC44;
    background: -webkit-gradient(linear, left top, left bottom, from(#5AAC44), to(#519839));
    background: linear-gradient(to bottom, #5AAC44 0%, #519839 100%);
    color: #fff
  }

  .button-green:not([disabled]):active {
    background: #519839;
    background: -webkit-gradient(linear, left top, left bottom, from(#519839), to(#49852E));
    background: linear-gradient(to bottom, #519839 0%, #49852E 100%);
    color: #fff
  }


  .outline-link {
    border: 1px solid;
    border-radius: .3em;
    display: inline-block;
    margin: .6em 0;
    padding: .6em 1em;
    text-decoration: none
  }

  .header-nav {
    padding: 1em .75em 0
  }

  .header-nav-link,
  .header-nav-link:visited {
    border: 1px solid hsla(0, 0%, 0%, 0.45);
    border-radius: .3em;
    color: hsla(0, 0%, 0%, 0.45);
    display: inline-block;
    font-size: .8em;
    padding: .4em 1.2em;
    margin: 0 .25em .25em;
    text-decoration: none;
    vertical-align: top
  }

  .header-nav-link:hover {
    border-color: hsl(0, 0%, 30%);
    color: hsl(0, 0%, 30%)
  }

  .header-nav-left {
    float: left
  }

  .header-nav-right {
    float: right
  }

  .body-header-nav-dark-background .header-nav-link {
    border-color: hsla(0, 0%, 100%, 0.9);
    color: hsla(0, 0%, 100%, 0.9)
  }

  .body-header-nav-dark-background .header-nav-link:hover {
    background-color: hsla(0, 0%, 100%, 0.2);
    border-color: hsla(0, 0%, 100%, 0.9);
    color: hsl(0, 0%, 100%)
  }

  .header-nav-iconed {
    padding: 24px
  }

  .header-nav-iconed .header-nav-icon {
    border-radius: 3px;
    padding: 0 8px;
    width: 32px
  }

  .header-nav-iconed .header-nav-link {
    border: none;
    border-radius: 3px;
    color: inherit;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    padding: 8px 12px
  }

  .header-nav-iconed .header-nav-icon,
  .header-nav-iconed .header-nav-link {
    background: #E2E4E6;
    display: inline-block;
    height: 32px
  }

  .header-nav-iconed .header-nav-icon:hover,
  .header-nav-iconed .header-nav-link:hover {
    background-color: #D6DADC
  }


  section {
    overflow: hidden;
    padding: 0 1em;
    word-wrap: break-word
  }

  section img {
    display: block;
    margin: 1em auto;
    max-width: 100%
  }

  section h1:first-child,
  section h2:first-child,
  section h3:first-child,
  section h4:first-child,
  section h5:first-child,
  section h6:first-child {
    margin-top: 1em
  }

  .section-wrapper {
    max-width: 540px;
    margin: 0 auto
  }


  .atlassian-logo-small {
    width: 150px;
    display: inline-block;
    vertical-align: top;
    margin-top: 1px
  }

  .atlassian-logo-small.white {
    display: none
  }

  .atlassian-white-logo .atlassian-logo-small.white {
    display: inline-block
  }

  .atlassian-white-logo .atlassian-logo-small.gray {
    display: none
  }

  .inline-image {
    display: inline-block;
    height: 24px;
    margin: 0;
    width: 24px;
    vertical-align: text-top
  }

  .rounded-corners {
    border-radius: 4px
  }

  .text-center {
    text-align: center
  }

  .inline-block {
    display: inline-block
  }

  .display-show-large {
    display: none
  }

 
  #atlassian-link,
  .atlassian-link {
    color: #298FCA;
    font-size: 18px;
    text-decoration: underline;
    cursor: pointer
  }

  #atlassian-link:hover {
    color: #0C3953
  }

  
  .hidden {
    display: none !important;
    visibility: hidden
  }


  .atlassian-brand {
    background-color: #F9FAFC;
    font-family: "-apple-system", BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 14px
  }

  .atlassian-brand .trello-main-logo {
    display: block;
    height: 43px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px
  }

  .atlassian-brand .inner-section {
    width: 100%;
    padding: 0px;
    overflow: visible;
    margin-bottom: 30px
  }

  .atlassian-brand .inner-section .section-wrapper {
    max-width: 400px
  }

  .atlassian-brand .inner-section .tos {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 16px;
    color: #5E6C84
  }

  .atlassian-brand .inner-section a {
    text-decoration: none;
    color: #0052CC
  }


  .atlassian-brand .inner-section .account-button {
    margin-bottom: 0;
    width: 100%
  }

  .atlassian-brand .inner-section .account-form {
    background-color: #FFFFFF;
    border-radius: 3px;
    padding: 25px 40px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px
  }

  
  .atlassian-brand .inner-section .account-form textarea,
  .atlassian-brand .inner-section .account-form input[type="text"],
  .atlassian-brand .inner-section .account-form input[type="email"],
  .atlassian-brand .inner-section .account-form input[type="password"],
  .atlassian-brand .inner-section .account-form input[type="button"],
  .atlassian-brand .inner-section .account-form input[type="submit"],
  .atlassian-brand .inner-section .account-form .select-container,
  .atlassian-brand .inner-section .account-form .select-container select {
    width: 100%
  }

  .atlassian-brand .inner-section .account-form .button-green {
    box-shadow: none
  }

  .atlassian-brand .inner-section .account-form .button-green:not(:disabled) {
    background: #5AAC44
  }

  .atlassian-brand .inner-section .account-form .button-green:not(:disabled):hover {
    background: #61BD4F
  }


  .atlassian-brand .inner-section .bottom-form-link {
    text-align: center;
    font-size: 14px;
    display: block;
    padding: 0
  }


  .atlassian-brand .inner-section .bottom-form-link li {
    display: inline-block;
    list-style: none
  }

  .atlassian-brand .inner-section .bottom-form-link li:not(:first-child)::before {
    content: "\2022";
    margin: 0 8px 0px 4px
  }

  .atlassian-brand .inner-section .form-field-label {
    font-size: 12px;
    color: #5E6C84;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: -7px
  }

  .atlassian-brand .inner-section .form-field {
    font-size: 14px;
    background-color: #FAFBFC;
    border: 2px solid #DFE1E6;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
    height: 44px;
    -webkit-transition: background-color .2s ease-in-out 0s, border-color .2s ease-in-out 0s;
    transition: background-color .2s ease-in-out 0s, border-color .2s ease-in-out 0s
  }

  .atlassian-brand .inner-section .form-field:focus {
    background-color: white;
    border: 2px solid #4C9AFF;
    box-shadow: 0 0 0
  }

  .atlassian-brand .inner-section h1 {
    text-align: center;
    color: #5E6C84;
    font-size: 16px;
    letter-spacing: -0.01em;
    line-height: 28px;
    margin-top: 10px;
    margin-bottom: 25px
  }


  .atlassian-brand .inner-section hr {
    margin-top: 25px
  }

  .atlassian-brand .inner-section p {
    line-height: 1.333
  }