@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
@import url('https://fonts.googleapis.com/css?family=Courgette|Open+Sans:400,800&display=swap');

/* html {
  box-sizing: border-box;
} */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --column-1: #a2622d;
  --column-2: #1b6161;
  --column-3: #248224;
  --column-4: #a22d22;

  --last-column: #ffffff;
  --dark-color:#2d2c2c;
    --purple-solid: #350a4f;
    --purple-transparent : rgba(53,10,79,.7);
    --purple-transparent-alt: rgba(53,10,79,.5);
    --purple-light: #8f58fb;
    --yellow-solid: #fa9e2c;
    --grey-border: #c0c0c0;
    --gradient-color: linear-gradient(to right,var(--yellow-solid),var(--purple-light));
    --gradient-color-alt:linear-gradient(to right,var(--purple-light),var(--yellow-solid));
    --gray-background: #e5e7eb6c;
}

/* body {
  margin: 0;
  background: url("");
  background-size: cover;
  background-position: 50% 60%;
  background-attachment: fixed;
  color: white;
  font-family: Quicksand, sans-serif;
  overflow-y: hidden;
} */

/*global style*/
html{
  font-size: 10px;
}
body{
  font-family: 'Charlie Text',sans-serif;
  font-size: 1.6rem;
  color: var(--dark-color);
}
a{
  text-decoration: none;
  color: inherit;
}
hr{
  height: 2px;
}
/*reuse*/
.container{

    width: 100%;
    max-width: 120rem;
    padding: 0 ;
    margin: 0 auto;
  
}
.input,
.options{
    outline: none;
    border: none;
    width: 100%;
    min-height: 4rem;
    padding: 1rem;
    font-weight: bold;
    color: aliceblue;
    letter-spacing: 2px;
    font-family: 'Open Sans';
    /* resize: none; */
}
.sub-heading{
  font-size: 1.7rem;
  font-family: 'Courgette';
  font-weight: 300;
  /* color: var(--dark-color); */
}
.btn{
color: aliceblue;
font-size: 1.3rem;
font-weight: bold;
text-transform: uppercase;
padding: 1rem  3.5rem;
border: 1px solid var(--grey-border);
/* border-radius: 10rem; */
display: inline-flex;
align-items: center;
}
.btn-gradient{
background-image: var(--gradient-color);
}
.btn-gradient:hover{
background-image: var(--gradient-color-alt);
}
.dots{
font-size: 2.4rem;
margin-left: .5rem;
opacity: .75;
}
.form-btn{
margin-top: 2.5rem;
cursor: pointer;
}
.btn-purple{
background-color: var(--purple-solid);
}
.btn-purple:hover{
background-color: var(--purple-light);
}
.icon{
  padding: 2rem;
}

/*header style*/
.header{
  background-color:var(--purple-transparent);
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
.header .active{
  background-color: var(--purple-solid);
}
/*nav*/
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}


.nav-left{
  display: flex; 
  justify-content: flex-start;
}
.nav-right{
  display: flex; 
  justify-content: flex-end;
}
.nav-box{
  background-color:hsla(0,0%,100%,.3); 
  height: 52px;
  margin-right: 4px;
  /* width: 52px;  */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .2s ease-in-out;
  border-radius: 5px;
  /* letter-spacing: 2px; */
}
.nav-box:hover{
  cursor: pointer;
  color: var(--yellow-solid);
}
.nav-link{
  display: block;
  color: aliceblue;
  /* font-size: 3rem; */
  font-weight: bold;
  /* text-transform: uppercase; */
  left:2px;
  letter-spacing: 2px;
  padding: 1rem;
}
.search{
  width: 184px;
  justify-content: space-between;
  padding-left: 8px;
  padding-right: 8px;
  border: none;
}
.user-info{
  border-radius: 50%;
  /* width: 100%;
  height: 100%;
   */
}
.avatar{
  width: 100%;
height: 100%;
/* clip-path: circle(50px at 50% 50%);  */
/* object-fit: contain;*/
}
#user-avatar{
  width: 52px;
  height: 52px;
  border-radius: 50%;
overflow: hidden;
display: flex;
justify-content: center;
align-items: center;
object-fit: cover;
}

/* .back-ground-modal{
  position:absolute;
  width: 100%;
  height: 100%;
      z-index: 10000;
  display: flex;
  align-items:flex-start;
  justify-content: flex-end;
} */

.ul-extend{
  transition-duration: 85ms;
  display: none;
}
.board{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-left: 8px; */
  padding-right: 8px;
  font-weight: bolder;
}
.hero{
  width: 100%;
  height: 100vh;
  background: url("../image/todolist.jpg") center no-repeat;
  background-size: cover;
  /* display: flex;
  align-items: center;
  text-align: center; */
  position: relative;
  z-index: 0;
  position: fixed;
}
.hero::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  background-color: var(--purple-transparent-alt);
  z-index: -1;
}
.template-gray{
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(92, 87, 87, 0.541);
  /* opacity: 0.7; */
  z-index: 20;
  display: flex;
  justify-content: center;

  padding-top: 60px;
  /* display: none; */

}
.add-board-form{
  background-color: white;
  /* opacity: 1; */
  padding: 20px;
  border: 1px solid rgb(59, 58, 58);
  width: 800px;
  border-radius: 5px;
  /* margin-top: 100px; */
  /* max-height: 500px; */

}
.display-none{
  display: none;
}
.form-field{
  font-size: 14px;
  background-color: #FAFBFC;
  border: 2px solid #DFE1E6;
  box-sizing: border-box;
  border-radius: 3px;
  height: 44px;
  transition: background-color .2s ease-in-out 0s, border-color .2s ease-in-out 0s
}

.main-title {
  font-size: 3rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.drag-container {
  margin-top: 20px;
}

.drag-list {
  display: flex;
  align-items: flex-start;
}

/* Columns */

.drag-column {
  flex: 1;
  margin: 0 10px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  overflow-x: hidden;
}

/* .backlog-column .header, .backlog-column .solid, .backlog-column .solid:hover, .backlog-column .over {
  background-color: var(--column-1);
}

.progress-column .header, .progress-column .solid, .progress-column .solid:hover, .progress-column .over {
  background-color: var(--column-2);
}

.complete-column .header, .complete-column .solid, .complete-column .solid:hover, .complete-column .over {
  background-color: var(--column-3);
}

.on-hold-column .header, .on-hold-column .solid, .on-hold-column .solid:hover, .on-hold-column .over {
  background-color: var(--column-4);
} */

/* Custom Scrollbar */

.custom-scroll {
  overflow-y: auto;
  max-height: 52vh;
}


.drag-header {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  margin: 10px;
  color: white;
}

.header h1 {
  /* font-size: 1.25rem; */
}

/* Drag and Drop */

.over {
  /* padding: 50px 10px; */
}

.drag-item-list {
  min-height: 50px;
  /* padding-left: 20px;
  padding-right: 20px; */
}

.drag-item {
  margin: 10px;
  padding: 10px 0 10px 10px;
  height: fit-content;
  background-color: white;
  border-radius: 3px;
  box-shadow: 3px 3px #888888;
  line-height: 1.5rem;
  letter-spacing: 1px;
  cursor: pointer;
  color: black;
}

.drag-item:hover {
  outline: none;
  background-color: #ece6e6f3;
  color: black;
}

/* Add Button Group */

.add-btn-group {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-bottom: 10px;
}

.add-btn {
  margin: 5px;
  margin-left: 0px;
  /* padding: 5px 10px; */
  display: flex;
  align-items: center;
  cursor: pointer;
  width: fit-content;
  border-radius: 5px;
  transition: all 0.3s ease-in;
  user-select: none;
  color: var(--grey-border);
}

.add-btn:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
}

.add-btn:active {
  transform: scale(0.97);
}

.solid {
  display: none;
}

.solid:hover {
  transition: unset;
  filter: brightness(95%);
  color: white;
}

.plus-sign {
  font-size: 1.5rem;
  margin-right: 5px;
  position: relative;
  top: -3px;
}

.add-container {
  margin: 10px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  min-height: 100px;
  display: none;
}

.add-item {
  width: 100%;
  min-height: 100px;
  height: auto;
  background-color: white;
  border-radius: 10px;
  margin: 5px auto;
  resize: none;
  color: black;
  padding: 10px;
}

.add-item:focus {
  outline: none;
}

.form-edit-head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.heading-title{
  font-size: large;
  font-weight: bold;
}
.close{
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: .3s;
}
.close:hover{
  background-color: var(--grey-border);
}
.form-edit-body{
  display: grid;
  grid-template-columns: 550px 200px;
}
.button{
  /* width: 100%; */
  height: 32px;
  cursor: pointer;  
    border-radius: 2px;
    display: flex;
    align-items: center;
    padding: 6px 8px 6px 6px;
    transition-duration: 85ms;
    margin-bottom: 7px;
    
 background-color: rgba(226, 226, 229, 0.479);
}
.button:hover{
  background-color: var(--grey-border);
 
}
.body-title{
  text-transform: uppercase;
  font-weight: bold;
  padding: 8px;
}
.form-inline{
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}
.small-btn{
  padding: 3px;
  color: aliceblue;
  border: 1px solid var(--grey-border);
  
}
textarea{
  width: 100%;
}
.form-edit-body-left{
  padding-right: 20px;
}

.title-list-in-drag{
  /* color: #c0c0c0; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Media Query: Laptop */

@media screen and (max-width: 1800px) {
  .main-title {
    font-size: 2rem;
  }
}

/* Media Query: Large Smartphone (Vertical) */

@media screen and (max-width: 600px) {
  body {
    overflow-y: auto;
  }
  .drag-container {
    margin: 0;
  }
  .drag-list {
    display: block;
  }
  .drag-column {
    margin: 10px;
  }
}

#activity-history {
  margin-left: 25px;
}

textarea {
  resize: none;
}
.modal-search{
  position: absolute;
  background-color:white;
  margin-top: 5px;
  margin-right: 177px;
  box-shadow: 0 0 3px 1px  rgb(228, 226, 226);
  border: .5px solid rgb(197, 193, 193);
  /* display: none; */
      font-size: small;
   color: rgb(143, 143, 148);
   z-index: 1;
   width: 184px;
}
.modal-user-info{
  position:absolute;
  background-color:white;
  border-radius: 2px;
  display: block;
  box-shadow: 0 0 3px 1px  rgb(228, 226, 226);
  border: .5px solid rgb(197, 193, 193);
  font-size: small;
  color: rgb(143, 143, 148);
  margin-top: 5px;
  margin-left: -250px;
  padding-bottom: 8px;
  z-index: 1;
  /* display: none; */
}
.modal-notification{
  position: absolute;
  background-color:white;
  margin-top: 5px;
  margin-left: -190px;
  box-shadow: 0 0 3px 1px  rgb(228, 226, 226);
  border: .5px solid rgb(197, 193, 193);
  /* display: none; */
      font-size: small;
   color: rgb(143, 143, 148);
   z-index: 1;
 
}
.modal-user-title{
  width: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.flex-flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-user-button{
  padding: 6px 10px;
  margin: 3px 0;
  transition-duration: 85ms;
}
.modal-user-button:hover{
  background-color:  var(--button-grey-color);
}

.open-modal-notification{
  display: none;
}
.notification{
  position: relative;
  

}
.open-modal-user-info{
  display: none;
}