img{
    width: 100%;
    height: 100%;
}
@import url('https://fonts.googleapis.com/css?family=Courgette|Open+Sans:400,800&display=swap');


  :root{
    --dark-color:#2d2c2c;
    --purple-solid: #350a4f;
    --purple-transparent : rgba(53,10,79,.7);
    --purple-transparent-alt: rgba(53,10,79,.5);
    --purple-light: #8f58fb;
    --yellow-solid: #fa9e2c;
    --grey-border: #c0c0c0;
    --gradient-color: linear-gradient(to right,var(--yellow-solid),var(--purple-light));
    --gradient-color-alt:linear-gradient(to right,var(--purple-light),var(--yellow-solid));
    --gray-background: #e5e7eb6c;
    --button-grey-color: rgba(187, 187, 192, 0.479);
    --header-background: #f4f5f7;
}
/*global style*/



.flex-flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-space-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-flex-start{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.profile-flex{
    display: flex;
    align-items: center;
}
.profile-flex-flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}


.profile-avatar{
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}
.profile-body{
    background-color: white;
    /* border: 1px solid var(--button-grey-color); */

}
.profile-display{
    margin-left: 20px;
    /* max-width: 500px; */
}
.grid{
    display: grid;
}
.grid-columns{
    display: grid;
    grid-template-columns: 50% 50%;
 

}
.profile-title{
    margin: 12px 0;
}
.profile-show{
  margin-top: 80px;
  padding: 20px;
  box-shadow: 0 0 20px 20px  rgb(228, 226, 226);
    border: 1px solid rgb(197, 193, 193);
    display: grid;
    grid-template-columns: 272px 700px;

    line-height: 25px;
}
.form-field{
    font-size: 14px;
    background-color: #FAFBFC;
    border: 2px solid #DFE1E6;
    box-sizing: border-box;
    border-radius: 3px;
    height: 44px;
    transition: background-color .2s ease-in-out 0s, border-color .2s ease-in-out 0s
}

h2{
    padding-right: 5px;
}
