<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/profile.css">
  <link rel="stylesheet" href="/css/home.css">
  <script src="https://kit.fontawesome.com/9d54f43127.js" crossorigin="anonymous"></script>

  <title>Your Profile</title>
</head>

<body>
  <!--nav-->
  <header class="header">
    <div class="container">
      <nav class="nav">
        <div class="nav-left">
          <div class="nav-box">
            <a href="/home"><i class="fas fa-home icon"></i></a>
            
          </div>
          <div class="nav-box">
            <a href="#" class="board">
              <i class="fas fa-clipboard-list icon"></i>
              <p>Bảng</p>
            </a>
          </div>
          <div>
            <div class=" nav-box">
              <input class="nav-box search form-field u" type="text" name="search" placeholder="Search..." >

              <i class="fas fa-search icon"></i>

            </div>
          </div>
        </div>
        
        <div class="nav-right">
          <div class="nav-box">
            <i class="fas fa-plus icon"></i>
          </div>
          <div class="nav-box">
            <i class="fas fa-exclamation icon"></i>
          </div>

          <!--notification-->
          <div>
            <div class="notification nav-box">
              <div id="notification-click">
                <i class="far fa-bell icon"></i>
              </div>
            </div>
            <div id="modal-notification" class="modal-notification open-modal-notification">
              <div class="modal-user-title flex-flex-center">
                <span>Thông báo</span>
              </div>
              
              <div>
                <div class="flex-flex-start modal-user-button"><a href="#">Thông báo 1</a></div>
                <div class="flex-flex-start modal-user-button"><a href="#">Thông báo 1</a></div>
                <div class="flex-flex-start modal-user-button"><a href="#">Thông báo 1</a></div>

              </div>
              
              <div>
                <div class="flex-flex-start modal-user-button"><a href="#">Xem tất cả thông báo</span></div>
              </div>
            </div>
          </div>
          <div>
            <div class="user-info nav-box">
              <div id="user-avatar">
                <img class="avatar" src="intro-photo.png" alt="#">
              </div>
            
            
          </div>
          <div id="modal-user-info" class="modal-user-info open-modal-user-info">
              <div class="modal-user-title flex-flex-center">
                <span>Tài khoản</span>
              </div>
              
              <div>
                <div class="flex-flex-start modal-user-button"><a href="/profile">Hồ sơ và hiển thị</a></div>
                <div class="flex-flex-start modal-user-button"><a href="#">Hoạt động</a></div>
                <div class="flex-flex-start modal-user-button"><a href="#">Thẻ</a></div>
                <div class="flex-flex-start modal-user-button"><a href="#">Cài đặt</a></div>
              </div>
              
              <div>
                <div class="flex-flex-start modal-user-button"><a href="">Trợ giúp</a></div>
                <div class="flex-flex-start modal-user-button"><a href="/logout">Đăng xuất</a></div>
              </div>
            </div>
          </div>
          
        </div>
      </nav>
    </div>
  </header>

  <div class="profile-body">
    <div class="container">
      <div class="profile-show">
        <div>
          <div style="display: flex; flex-direction: column; align-items: center;">
            <div class="profile-avatar">
              <img class="avatar">
            </div>
            <h2 id="user-name"></h2>
            <strong id="user-gmail">[[${#request.remoteUser}]]</strong>
    
          </div>
        </div>
        <div class="grid-columns">
          <div class="profile-display">
            
            <div class="">
                <div class="">
                  <div class="profile-title">
                    <h3>Cập nhật thông tin</h3>
                  </div>
                  <div>
                    <label>Tên đăng nhập: </label>
                    <span>[[${#request.remoteUser}]]</span>
                  </div>
                  <div>
                    <label>Họ Và tên</label>
                  </div>
                  <div>
                    <input type="text" name="username" id="userName" class="form-field" inputmode="email">
                  </div>
                  
                  <div>
                    <label>Ngày sinh (dd-mm-yyyy)</label>
                  </div>
                  <div>
                    <input type="text" id="date-of-birth" class="form-field" placeholder="dd/mm/yyyy">
                  </div>
                  <div>
                    <label>Giới tính (Nam/Nữ)</label>
                  </div>
                  <div>
                    <input type="text" id="gender" class="form-field" placeholder="Nam/Nữ">
                  </div>
                  <div id="left-message" style="color: red;">

                  </div>
                  <input id="submit-button" type="submit" class="btn account-button btn-gradient" value="Cập nhật" style="margin-top: 15px;">
                </div>


            </div>

            </div>
            <div class="security">
            <div class="password">
              <div class="profile-title">
                <h3>Mật khẩu</h3>
              </div>
              <div>
                  <div style="margin-bottom: 15px;">
                    <input type="password" id="old-password" class="form-field" placeholder="Mật khẩu cũ">
                  </div>
                  <div style="margin-bottom: 15px;">
                    <input type="password" id="new-password-1" class="form-field" placeholder="Mật khẩu mới">
                  </div>
                  <div style="margin-bottom: 15px;">
                    <input type="password" id="new-password-2" class="form-field" placeholder="Nhập lại mật khẩu mới">
                  </div>
                  <input id="submit-button-sercurity" type="submit" class="btn account-button btn-gradient" value="Cập nhật">
              </div>
            </div>

            <div id="right-message" style="color: red;"></div>

          </div>
        </div>
      </div>
    </div>
    

  </div>
  <script type="text/javascript" src="/js/profile.js"></script>
</body>

</html>