<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/set-new-password.css">

</head>
<body>
    <header class="header">
        <div class="container">
          <div class="nav">
            <a th:href="@{welcome}" class="logo">
              <h2 class="logo">Team-13</h2>
            </a>
          </div>
        </div>
    </header>
    <div class="container">
        <div class="sign-up-center">
            <div id="signup-form" class="signup-form boder-gray">
                <h1 class="sub-heading">Reset your password</h1>
                <div>
                    <form action="/set-new-password" method="POST">
                        <input class="form-field sign-in-input" type="password" name="password" placeholder="Password" required>
                        <input class="form-field sign-in-input" type="password" placeholder="Confirm password" required>
                        <input class="form-field sign-in-input" type="hidden" name="token" th:value="${token}">
                        <div class="text-center">
                            <input class="btn btn-purple" type="submit" value="Submit">
                        </div>
                    </form>
                </div>

                <div th:if="@{message} != null">
                    <p th:text="${message}"></p>
                </div>

                <div  style="text-align: center; font-size: small;">
                    <a class="quiet" href="/sign-in">Click here to login!</a>
                </div>
            </div>
        </div>
    </div>  
</body>
</html>