<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Forgot Password</title>
	<link rel="stylesheet" href="css/forgot.css">
	<link rel="stylesheet" href="css/login.css">
</head>

<body>
	<header class="header">
		<div class="container">
			<div class="nav">
				<a th:href="@{welcome}" class="logo">
					<h2 class="logo">Team-13</h2>
				</a>
			</div>
		</div>
	</header>
	<div style="margin-top: 15px; margin-top: 80px;">

		<div style="margin: auto; background-color: white; width: fit-content; box-shadow: 7px 6px 3px rgb(197 197 197);
		border-radius: 5px; padding: 15px;">
			<div style="display: flex; justify-content: center;">
				<!-- <img src="../static/image/img_398183.png" alt="Reset password"> -->
				<img src="image/reset-password-2169577-1818726.png" alt="Reset password logo"
					th:src="@{image/reset-password-2169577-1818726.png}">
			</div>
			<p>Can't log in?</p>
			<p>We'll send a recovery link to</p>
			<form th:action="@{/forgot}" method="POST" id="fp-form">
				<input type="text" name="email" placeholder="Your email" class="input-text">
				<br>
				<!-- <input type="submit" value="Send recovery link" style="margin-top: 15px;"> -->
			</form>
			<br>
			<button form="fp-form" type="submit" value="Get recovery link" class="my-button">Get link</button>
			<br>

			<div style="padding-top: 15px;" th:if="@{message != null}">
				<div th:text="${message}"></div>
			</div>
		</div>
		<!-- <div>
			<a href="/sign-in">Log in</a>
		</div> -->

	</div>
</body>

</html>