<!doctype html>
<html lang="en-US">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
  <title>Trello</title>
  <link rel="stylesheet" href="/css/home.css">
  <script src="https://kit.fontawesome.com/9d54f43127.js" crossorigin="anonymous"></script>
	<script type="text/javascript" th:src="@{/js/home.js}"></script>
</head>

<body>
	<script type="text/javascript">
		var notification_click = document.getElementById("notification-click")
		console.log(notification_click)
		notification_click.addEventListener('click',function(){
		    var modal_notification = document.getElementById("modal-notification")
		    // console.log(notification_click)
		    modal_notification.classList.toggle('open-modal-notification');
		})
		
		var avatar_click = document.getElementById("user-avatar")
		console.log(avatar_click)
		avatar_click.addEventListener('click',function(){
		    var modal_notification = document.getElementById("modal-user-info")
		    // console.log(notification_click)
		    modal_notification.classList.toggle('open-modal-user-info');
		})
		
		var list_item_team_click = document.getElementById("menu-extend");
		console.log(list_item_team_click)
		list_item_team_click.addEventListener('click',function(){
		    var list_item_extend = document.querySelector("#list-iteam-team > ul:nth-child(2)");
		    // console.log(list_item_team_click)
		    // list_item_extend.style.backgroundColor = "red";
		    list_item_extend.classList.toggle('ul-extend');
		})
	</script>
   
  
      <nav class="nav">
        <div class="nav-left">
          <div class="nav-box">
            <a href="#"><i class="fas fa-home"></i></a>
            
          </div>
          <div class="board nav-box">
            <a href="#">
              <i class="fas fa-clipboard-list"></i>
              <text>Bảng</text>
            </a>
          </div>
          <div class="search nav-box">
            <text>Tìm kiếm ....</text>
            <i class="fas fa-search"></i>
          </div>
        </div>
        
        <div class="nav-right">
          <div class="nav-box">
            <i class="fas fa-plus"></i>
          </div>
          <div class="nav-box">
            <i class="fas fa-exclamation"></i>
          </div>

          <!--notification-->
          <div class="notification nav-box">
            <div id="notification-click">
              <i class="far fa-bell"></i>
            </div>
            <div id="modal-notification" class="modal-notification open-modal-notification">
              <div class="modal-user-title flex-flex-center">
                <span>Thông báo</span>
              </div>
              <div>
                ---------------------------------------------------------
              </div>
              <div>
                <div class="flex-flex-start modal-user-button"><a href="#">Thông báo 1</a></div>

              </div>
              <div>
                ---------------------------------------------------------
              </div>
              <div>
                <div class="flex-flex-start modal-user-button"><a href="#">Xem tất cả thông báo</span></div>
              </div>
            <!-- </div> -->
            </div>
          </div>

          <!--user-->
          <div class="user-info nav-box">
            <div id="user-avatar">
              <img class="avatar" src="1.jpg" alt="#">
            </div>
            <div id="modal-user-info" class="modal-user-info open-modal-user-info">
              <div class="modal-user-title flex-flex-center">
                <span>Tài khoản</span>
              </div>
              <div>
                ---------------------------------------------------------
              </div>
              <div>
                <div class="flex-flex-start modal-user-button"><a href="profile.html">Hồ sơ và hiển thị</a></div>
                <div class="flex-flex-start modal-user-button"><a href="#">Hoạt động</a></div>
                <div class="flex-flex-start modal-user-button"><a href="#">Thẻ</a></div>
                <div class="flex-flex-start modal-user-button"><a href="#">Cài đặt</a></div>
              </div>
              <div>
                ---------------------------------------------------------
              </div>
              <div>
                <div class="flex-flex-start modal-user-button"><a href="">Trợ giúp</a></div>
                <div class="flex-flex-start modal-user-button"><a href="">Đăng xuất</a></div>
              </div>
            </div>
            
          </div>
        </div>
      </nav>
     <div class="container"> 
        
      <div class="grid">
        
        <div class="menu">
          <div class="in-menu">
            <div class="board-botton">
              <ul>
                <li class="button font-weight"><span>Bảng</span></li>
                <li class="button font-weight"><span>Mẫu</span></li>
              </ul>
              
            </div>
            <div>
              <div class="add-team">
                <span>Các không gian làm việc </span>
                <i class="fas fa-plus"></i>
              </div>
              <ul>
                
                <li id="list-iteam-team">
                  
                  <div id="menu-extend"class=" button font-weight flex-space-between">
                    <span>Team1</span>
                    <i class="fas fa-chevron-up"></i>  
                  </div>
                  <ul class="ul-extend">
                    <li class="button buton-small" >
                      <i class="fas fa-clipboard-list"></i>
                      <span> &nbsp Bảng</span>
                    </li>
                    <li class="button buton-small">
                      <i class="far fa-heart"></i>
                      <span> &nbsp Điểm nổi bật</span>
                    </li>
                    <li class="button buton-small">
                      <i class="fas fa-user-friends"></i>
                      <span> &nbsp Thành viên</span>
                    </li>
                    <li class="button buton-small">
                      <i class="fas fa-cog"></i>
                      <span> &nbsp Cài đặt</span>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          



        </div>
        
        <div class="all-board">
          <div class="in-all-board">
            <div>
              <div class="flex-flex-start font-weight detail-title">
                <i class="far fa-clock"></i>
                <div>
                  <span> &nbsp Đã xem gần đây</span>
                </div>
                
              </div>
              <div>
                <ul class="ul-grid">
                  <li class="each-board">
                    <a href="" class="title-each-board">
                      Team 1
                    </a>
                  </li>
                  <li class="each-board">
                    <a href="" class="title-each-board">
                      Team 1
                    </a>
                  </li>
                  <li class="each-board">
                    <a href="" class="title-each-board">
                      Team 1
                    </a>
                  </li>
                  <li class="each-board">
                    <a href="" class="title-each-board">
                      Team 1
                    </a>
                  </li>
                  
                </ul>
              </div>
            </div>
            <div>
              <div class="flex-flex-start font-weight detail-title">
                <i class="far fa-clock"></i>
                <div >
                  <span> &nbsp Bảng cá nhân</span>
                </div>
                
              </div>
              <div>
                <ul class="ul-grid">
                  <li class="each-board">
                    <a href="" class="title-each-board">
                      Team 1
                    </a>
                  </li>
                  <li class="add-board">
                    <span>Tạo bảng mới</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="see-all-closed-board button"><span>Xem tất cả các bảng đã đóng</span></div>
          </div>
          


        </div>


      </div>
      </div>
      
<script src="home.js"></script>
<script src="test-ajax.js"></script>
</body>

</html>