<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/profile.css">
  <link rel="stylesheet" href="/css/home.css">
  <script src="https://kit.fontawesome.com/9d54f43127.js" crossorigin="anonymous"></script>

  <title>Document</title>
</head>

<body>
  <!--nav-->
  <header class="header">
    <div class="container">
      <nav class="nav">
        <div class="nav-left">
          <div class="nav-box">
            <a href="#"><i class="fas fa-home icon"></i></a>
            
          </div>
          <div class="nav-box">
            <a href="#" class="board">
              <i class="fas fa-clipboard-list icon"></i>
              <p>Bảng</p>
            </a>
          </div>
          <div>
            <div class=" nav-box">
              <input class="nav-box search form-field u" type="text" name="search" placeholder="Search..." >

              <i class="fas fa-search icon"></i>

            </div>
            <!--list search-->
            <div class="modal-search">
                <ul class="list-search">
                  <li class="modal-user-button"><a href="">KKKKKKKKK</a></li>
                  <li class="modal-user-button"><a href="">KKKKKKKKK</a></li>
                  <li class="modal-user-button"><a href="">KKKKKKKKK</a></li>
                  <li class="modal-user-button"><a href="">KKKKKKKKK</a></li>
                  <li class="modal-user-button"><a href="">KKKKKKKKK</a></li>
                  <li class="modal-user-button"><a href="">KKKKKKKKK</a></li>
                  <li class="modal-user-button"><a href="">KKKKKKKKK</a></li>
                </ul>
              </div>
          </div>
        </div>
        
        <div class="nav-right">
          <div class="nav-box">
            <i class="fas fa-plus icon"></i>
          </div>
          <div class="nav-box">
            <i class="fas fa-exclamation icon"></i>
          </div>

          <!--notification-->
          <div>
            <div class="notification nav-box">
              <div id="notification-click">
                <i class="far fa-bell icon"></i>
              </div>
            </div>
            <div id="modal-notification" class="modal-notification open-modal-notification">
              <div class="modal-user-title flex-flex-center">
                <span>Thông báo</span>
              </div>
              
              <div>
                <div class="flex-flex-start modal-user-button"><a href="#">Thông báo 1</a></div>
                <div class="flex-flex-start modal-user-button"><a href="#">Thông báo 1</a></div>
                <div class="flex-flex-start modal-user-button"><a href="#">Thông báo 1</a></div>

              </div>
              
              <div>
                <div class="flex-flex-start modal-user-button"><a href="#">Xem tất cả thông báo</span></div>
              </div>
            <!-- </div> -->
            </div>
          </div>
          <!--user-->
          <div>
            <div class="user-info nav-box">
              <div id="user-avatar">
                <img class="avatar" src="intro-photo.png" alt="#">
              </div>
            
            
          </div>
          <div id="modal-user-info" class="modal-user-info open-modal-user-info">
              <div class="modal-user-title flex-flex-center">
                <span>Tài khoản</span>
              </div>
              
              <div>
                <div class="flex-flex-start modal-user-button"><a href="/profile">Hồ sơ và hiển thị</a></div>
                <div class="flex-flex-start modal-user-button"><a href="#">Hoạt động</a></div>
                <div class="flex-flex-start modal-user-button"><a href="#">Thẻ</a></div>
                <div class="flex-flex-start modal-user-button"><a href="#">Cài đặt</a></div>
              </div>
              
              <div>
                <div class="flex-flex-start modal-user-button"><a href="">Trợ giúp</a></div>
                <div class="flex-flex-start modal-user-button"><a href="/logout">Đăng xuất</a></div>
              </div>
            </div>
          </div>
          
        </div>
      </nav>
    </div>
  </header>


  <div class="background-header">
    <div class="wrapper-header profile-flex-flex-center">
      <div class="profile-header profile-flex">
        <div class="profile-avatar">
          <img class="avatar">
        </div>
        <h2 id="user-name"></h2>
        <strong id="user-gmail">[[${#request.remoteUser}]]</strong>

      </div>

    </div>
  </div>
  <div class="profile-body">
    
    <div class="profile-show">
      <div class="profile-display">
        <div class="profile-title">
          <h3>Cập nhật thông tin</h3>
        </div>
        <div class="">
          <!-- <form id="login-form" method="PUT"> -->
            <div class="">
              <div>
                <label>Tên đăng nhập: </label>
                <span>[[${#request.remoteUser}]]</span>
              </div>
              <div>
                <label>Họ Và tên</label>
              </div>
              <div>
                <input type="text" name="username" id="userName" class="form-field" inputmode="email">
              </div>
              
              <div>
                <label>Ngày sinh</label>
              </div>
              <div>
                <input type="text" id="date-of-birth" class="form-field">
              </div>
              <div>
                <label>Giới tính</label>
              </div>
              <div>
                <input type="text" id="gender" class="form-field">
              </div>
              
              <input id="submit-button" type="submit" class="button account-button button-green" value="Cập nhật">
            </div>
          <!-- </form> -->
          <!-- <div class="grid-columns">
                    <text>Họ và tên</text>
                    <text>Nguyen Van A</text>

                </div>
                <div class="grid-columns">
                    <text>Tên đăng nhập</text>
                    <text>nguyenvana</text>

                </div>
                <div class="grid-columns">
                    <text>Ngày sinh</text>
                    <text>12/2/2021</text>

                </div>
                <div class="grid-columns">
                    <text>Giới tính</text>
                    <text>Nam</text>

                </div> -->

        </div>

      </div>
      <div class="security">
        <!-- <div class="email">
          <div class="profile-title">
            <h3>Địa chỉ email</h3>
          </div>
          <div>
            <p>Địa chỉ email hiện tại của bạn là <i>nguyenvana@gmail.com</i></p>

            <div>
              <h4>Địa chỉ email mới</h4>
              <form action="/" id="login-form" method="POST">
                <div class="">
                  <input type="text" name="password" id="password" class="form-field"
                    placeholder="Nhập địa chỉ email mới">

                  <input id="login" type="submit" class="button account-button button-green" value="Cập nhật">
                </div>
              </form>
            </div>

          </div>

        </div> -->
        <div class="password">
          <div class="profile-title">
            <h3>Mật khẩu</h3>
          </div>
          <div>
            <!-- <form action="/" id="login-form" method="POST"> -->
              <div>
                <input type="password" id="old-password" class="form-field" placeholder="Mật khẩu cũ">
              </div>
              <div>
                <input type="password" id="new-password-1" class="form-field" placeholder="Mật khẩu mới">
              </div>
              <div>
                <input type="password" id="new-password-2" class="form-field" placeholder="Nhập lại mật khẩu mới">
              </div>
              <input id="submit-button-sercurity" type="submit" class="button account-button button-green" value="Cập nhật">
            <!-- </form> -->
          </div>
        </div>

        <div id="message"></div>

      </div>
    </div>

  </div>
  <!-- <script type="text/javascript" src="/css/home.js"></script> -->
  <script type="text/javascript" src="/js/profile.js"></script>
</body>

</html>