<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
    div {
        align-content: center;
    }
</style>
</head>
<body>
    <div>
        <div>
            <img src="https://www.google.com/search?q=reset+password+logo&sxsrf=ALeKk03dJVMgDuT3LPcnysu0EdbuDnN-nw:1618211461462&source=lnms&tbm=isch&sa=X&ved=2ahUKEwiautO6k_jvAhVBCqYKHWEVBIYQ_AUoAXoECAEQAw&biw=1920&bih=953#imgrc=88dRbG5_cCW98M" 
            alt="">
        </div>

        <div>
            <form action="/set-new-password" method="POST">
                <input type="password" name="password" placeholder="Password" required>
                <input type="password" placeholder="Confirm password" required>
                <input type="hidden" name="token" th:value="${token}">
                <input type="submit" value="Submit">
            </form>
        </div>

        <div th:if="@{message} != null">
            <p th:text="${message}"></p>
        </div>

        <div>
            <a href="/sign-in">Click here to login!</a>
        </div>
    </div>  
</body>
</html>