<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hotel</title>
    <link rel="stylesheet" href="/css/welcome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="nav">
                <a href="" class="logo">
                    <h2 class="logo">Team-13</h2>
                </a>
                <div class="hamburger-menu">
                    <i class="fas fa-bars"></i>
                    <i class="fas fa-times"></i>
                </div>
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="home" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="sign-in" class="nav-link">Log in</a>
                    </li>
                    <li class="nav-item sign-up">
                        <a href="sign-up" class="nav-link">Sign up</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </header>
    <main>
        <section class="hero">
            <div class="container">
                <div class="main-heading">
                    <h3 class="title">Arrangement web</h3>
                    <div class="below-title">
                        <p class="hotel-price">The easy, free, flexible, and visual way to manage your projects and organize anything, trusted by millions of people from all over the world.</p>

                    </div>
                </div>
                <a href="" class="btn btn-gradient">Sign up - It's free !
                    <span class="dots"><i class="fas fa-ellipsis-h"></i></span>
                </a>
            </div>
        </section>

        <section class="intro">
            <div class="container">
                <div class="intro-content">
                    <div class="intro-head">
                        <div class="">
                            <p class="intro-title">A simple to-do list app that meets your team’s needs</p>
                            <p class="intro-head-content">With Asana, make your to-do list as simple or detailed as you need. Then, tie the work back to larger projects, loop in teammates, and make sure nothing falls through the cracks.</p>
                            
                        </div>
                        <button type="submit" class="btn form-btn btn-purple">Learn more about Team-13
                            <span class="dots"><i class="fas fa-ellipsis-h"></i></span>
                        </button>   
                    </div>
                    
                    <div class="intro-photo">
                        <div>
                            <img src="intro-photo.png" alt="" class="img-intro-photo">
                        </div>                     
                    </div>
                </div>
               
            </div>
        </section>

        <section class="detail-web">
                <div class="container">
                    <div class="detail-web-head">
                        <span class="intro-title">Do more than todo list</span>
                        <p class="intro-head-content">&nbsp; &nbsp; &nbsp;You can also...</p>
                    </div>
                    <div class="grid">
                        <div class="grid-item boder-gray">
                            <div class="grid-item-icon">
                                <i class="fas fa-check"></i>                            
                            </div>
                           <p class="intro-title grid-item-title">View and organize your to-do list for the day</p>
                        </div>
                        <div class="grid-item boder-gray">
                            <div class="grid-item-icon">
                                <i class="fas fa-list"></i>
                            </div>
                            <p class="intro-title grid-item-title">Add details to each task and put it in a project</p>

                        </div>
                        <div class="grid-item boder-gray">
                            <div class="grid-item-icon">
                                <i class="fas fa-user-friends"></i>
                            </div>
                            <p class="intro-title grid-item-title">Get reminders about upcoming work</p>

                        </div>
                    </div>
                    <br>
                    <div class="center">
                        <button type="submit" class="btn form-btn btn-purple">Start doing
                            <span class="dots"><i class="fas fa-ellipsis-h"></i></span>
                        </button>
                    </div>
                    
                </div>
        </section>

        <section class="offer">
            <div class="container">
                
                <div class="offer-content">
                    <div class="offer-item">
                        <div>
                        </div>
                        <div>
                            <button type="submit" class="btn form-btn btn-purple">Trello pricing
                                <span class="dots"><i class="fas fa-ellipsis-h"></i></span>
                            </button>
                        </div>
                    </div>
                    <div class="offer-item">
                        <div>

                        </div>
                        <div>
                            <button type="submit" class="btn form-btn btn-purple">Trello touring
                                <span class="dots"><i class="fas fa-ellipsis-h"></i></span>
                            </button>
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </section>
    
        <section class="detail-web">
            <div class="container">
                <h5 class="section-head">
                    <span class="sub-heading">Sign up and get started with us today. A world of productive teamwork awaits!</span>
                </h5>
                <div class="contact-content">
                    <form action="" class="form contact-form">
                        <div class="input-group-wrap">
                            <div class="input-group">
                                <input type="text" class="input" placeholder="Name" required>
                                <span class="bar"></span>
                            </div>
                            <div class="input-group">
                                <input type="text" class="input" placeholder="Email" required>
                                <span class="bar"></span>
                            </div>
                        </div>
                        
                        
                        <button type="submit" class="btn form-btn btn-purple">Try for free
                            <span class="dots"><i class="fas fa-ellipsis-h"></i></span>
                        </button>
                    </form>
                </div>
            </div>
        </section>

    </main>
    <footer class="footer">
        <div class="container">
            <div class="footer-content">
                <div class="footer-content-brand">
                    <a href="" class="logo">
                        <h2 class="logo">Team-13</h2>
                    </a>
                </div>
                <hr>
                <div class="footer-body">
                    <div class="select-container"> 
                        <select class="form-field">
                          <option value="choose-one" id="choose" disabled="true">Select your language…</option>
                          <option value="en" data-url="https://trello.com/en/home">English</option>
                          <option value="vi" data-url="https://trello.com/vi/home">Tiếng Việt</option>
                        </select> 
                    </div> 

                    <ul class="global-footer-list">
                        <li class="global-footer-list-item"> <a class="global-footer-list-item-link" href="templates.html">Templates</a> </li>
                        <li class="global-footer-list-item"> <a class="global-footer-list-item-link" href="pricing.html">Pricing</a> </li>
                        <li class="global-footer-list-item"> <a class="global-footer-list-item-link" href="platforms.html">Apps</a> </li>
                        <li class="global-footer-list-item"> <a class="global-footer-list-item-link" href="../www.atlassian.com/company/careers/trello.html" >Jobs</a> </li>
                        <li class="global-footer-list-item"> <a class="global-footer-list-item-link" target="_blank"  href="../blog.trello.com/index.html">Blog</a> </li>
                        <li class="global-footer-list-item"> <a class="global-footer-list-item-link" href="../developers.trello.com/index.html" >Developers</a> </li>
                        <li class="global-footer-list-item"> <a class="global-footer-list-item-link" href="about.html" >About</a> </li>
                        <li class="global-footer-list-item"> <a class="global-footer-list-item-link" href="../help.trello.com/index.html" >Help</a> </li>
                        <li class="global-footer-list-item"> <a class="global-footer-list-item-link" href="legal.html">Legal</a> </li>
                        <li class="global-footer-list-item"> <a class="global-footer-list-item-link" href="#" onclick="trelloCookieConsentDialog()">Cookie Settings</a> </li>
                        <li class="global-footer-list-item"> <a class="global-footer-list-item-link" href="privacy.html" >Privacy</a> </li>
                    </ul>

                    
                    <div class="social-media-wrap">
                        <h4 class="footer-heading">Follow us</h4>
                        <div class="social-media">
                            <a href="" class="sm-link"><i class="fab fa-twitter"></i></a>
                            <a href="" class="sm-link"><i class="fab fa-facebook-square"></i></a>
                            <a href="" class="sm-link"><i class="fab fa-instagram"></i></a>
                            <a href="" class="sm-link"><i class="fab fa-pinterest"></i></a>
                            <a href="" class="sm-link"><i class="fab fa-tripadvisor"></i></a>
                        </div>
                    </div>
                    

                </div>
                
            </div>
            <br>
        <i class="copyright">&copy; Copyright 2021 App</i>
        </div>
        
    </footer>
    <script type="text/javascript" src="/js/welcome.js"></script>
</body>
</html>